/* HAVANNA Default Settings */

@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

:root {
  /*Default  Color */
  --color-default: #414141;
  --color-primary: #0b4340;
  --color-secondary: #f1bc00;
  --color-light-green: #04d0c5;
  --color-dark: #0c0526;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Mulish", sans-serif;
  }
  /* @font-face {
    font-family: Lufga;
    src: url("./fonts/Lufga-Thin.otf");
    font-weight: 100;
  } */
  /*@font-face {
    font-family: Lufga;
    src: url("./fonts/Lufga-Light.otf");
    font-weight: 300;
  }
  @font-face {
    font-family: Lufga;
    src: url("./fonts/Lufga-Regular.otf");
    font-weight: 400;
  }
  @font-face {
    font-family: Lufga;
    src: url("./fonts/Lufga-Medium.otf");
    font-weight: 500;
  }
  @font-face {
    font-family: Lufga;
    src: url("./fonts/Lufga-SemiBold.otf");
    font-weight: 600;
  }
  @font-face {
    font-family: Lufga;
    src: url("./fonts/Lufga-Bold.otf");
    font-weight: 700;
  }
  @font-face {
    font-family: Lufga;
    src: url("./fonts/Lufga-ExtraBold.otf");
    font-weight: 800;
  }
  @font-face {
    font-family: Lufga;
    src: url("./fonts/Lufga-Black.otf");
    font-weight: 900;
  } */
  .Toastify__toast-theme--colored.Toastify__toast--warning {
    background: #0b4340;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input:-webkit-autofill:focus,
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}
.wallet-bg {
  background-image: url(../public/images/svg/walletbg.svg);
  background-repeat: no-repeat;
}
.card-shadow {
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.08);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@import "./main.css";
